.border-right {
  border-right: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.btn-lg {
  font-size: 175%;
  padding: 15px 32px;
}

.total {
  font-size: 150%;
}
