<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PHP-SRePS - Sales Records System</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body data-ng-app="PHPSRePS" data-ng-controller="salesRecordsController">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="contianer navbar-container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PHP-SRePS</a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li><a href="Home.html">Home </a></li>
              <li><a href="Reports.html">Reports</a></li>
              <li><a href="POS.html">POS</a></li>
              <li class="active"><a href="Sales.html">Sales Records</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Log In</a></li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-3">
            <form>
              <p>
                <label for="searchFilter">Search Filter</label>
                <input type="text" data-ng-model="search.item" placeholder="Search Item Name"/>
                <input type="text" data-ng-model="search.date" placeholder="Search Date"/>
              </p>
            </form>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-6 well">
            <div class="row">
              <div class="col-md-12">
                <h2 class="border-bottom">Edit Sales Records</h2>
              </div	>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="IdSearch">Transaction ID</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <input id="IdSearch" type="number" data-ng-model="Number">
                        <button class="btn btn-primary" ng-click="Search(Number)">Search</button>
                        <p class="text-danger">{{Error}}</p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="Item">Item Name</label>
                      </div>
                      <div class="col-md-6">
                        <label for="Quantity">Quantity</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <select id="Item" class="select-wide" data-ng-model="Name">
                          <option ng-repeat="i in Items"value="{{i.ItemName}}">{{i.ItemName}}</option>
                        </select>
                      </div>
                      <div class="col-md-6">
                        <input id="Quantity" type="number" data-ng-model="Quantity">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="Date">Date</label>
                      </div>
                      <div class="col-md-6">
                        <label for="Price">Price</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input id="Date" type="text" data-ng-model="Date">
                      </div>
                      <div class="col-md-6">
                        <span>$</span><input id="Price" type="number" data-ng-model="Price">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <button class="btn btn-success btn-wide" ng-click="Update(Number, Name, Quantity, Date, Price)">Update</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 well">
            <div class="row">
              <div class="col-md-6">
                <h2 class="border-bottom">Sales Record View</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 pre-scrollable">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Transaction ID</th>
                      <th>Item Name</th>
                      <th>Quantity</th>
                      <th>Date</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="row in salesRecords | filter:search :exactMatch | orderBy:sortAttri:sortReverse" >
                      <td>{{row.TransactionID}}</td>
                      <td>{{row.ItemName}}</td>
                      <td>{{row.Quantity}}</td>
                      <td>{{row.Date}}</td>
                      <td>${{row.Price | number:2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
            </div>
            <br>
            <div class="row text-center">
              <div class="col-md-12">
                <button class="btn btn-primary" ng-click="sortBy('item')">Sort by Name</button>
                <button class="btn btn-primary" ng-click="sortBy('quantity')">Sort by Quantity</button>
                <button class="btn btn-primary" ng-click="sortBy('date')">Sort by Date</button>
                <button class="btn btn-primary" ng-click="sortBy('price')">Sort by Price</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/SalesController.js"></script>
  </body>
</html>
